<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OldHouse</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
        <link href="~/css/toastr.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link href="~/css/toastr.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="display:flex">
                <img alt="hospital" src="~/images/hospital.svg" style="width:40px; margin-right:6px">
                <a asp-area="" asp-controller="Patients" asp-action="Index" class="navbar-brand" style="color:black"> Old Care</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Patients" asp-action="Index" style="color:black">Patients</a></li>
                    <li><a asp-area="" asp-controller="Machines" asp-action="Index" style="color:black">Machines</a></li>
                    <li><a asp-area="" asp-controller="Records" asp-action="Index" style="color:black">Records</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" style="color:black">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Old Care</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/toastr.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        // Use SignalR to insure real time checking on the patients Machine's Battery / Records validity
        var connection = new signalR.HubConnectionBuilder().withUrl("/batteryCheck").build();

        connection.on("patientsBatteryCheckk", function (patientsBatteryMachine) {
            console.log(patientsBatteryMachine);
            for (var i = 0; i < patientsBatteryMachine.length; i++) {
                toastr.error(patientsBatteryMachine[i], 'Battery Alert');
            }

        });
        connection.start().then(function () {
            console.log("connection to check battery");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        setInterval(function () {
            connection.invoke("CheckPatientsBatteryMachineStatus").catch(function (err) {
                return console.error(err.toString());
            });
        }, 1000 * 60 * 0.2);
    </script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/batteryCheck").build();

        connection.on("patientRecordsCheckk", function (patientsBatteryMachine) {
            console.log(patientsBatteryMachine);
            for (var i = 0; i < patientsBatteryMachine.length; i++) {
                toastr.warning(patientsBatteryMachine[i], 'Patient Alert');
            }

        });
        connection.start().then(function () {
            console.log("connection to check patient records");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        setInterval(function () {
            connection.invoke("CheckPatientRecords").catch(function (err) {
                return console.error(err.toString());
            });
        }, 1000 * 60 * 0.2);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
