@model OldHouse.Models.Record

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodPressur" class="control-label"></label>
                <input asp-for="BloodPressur" class="form-control" />
                <span asp-validation-for="BloodPressur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeartBeatPerSecond" class="control-label"></label>
                <input asp-for="HeartBeatPerSecond" class="form-control" />
                <span asp-validation-for="HeartBeatPerSecond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodSugarLevel" class="control-label"></label>
                <input asp-for="BloodSugarLevel" class="form-control" />
                <span asp-validation-for="BloodSugarLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CholesterolLevel" class="control-label"></label>
                <input asp-for="CholesterolLevel" class="form-control" />
                <span asp-validation-for="CholesterolLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
