@model OldHouse.Data.Patient

@{
    ViewData["Title"] = "AssignPatientToMachine";
}

<h2>Assigne Patient To Machine</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if (@ViewBag.InfoMessage != null)
            {
            <div class="alert alert-info">
                @ViewBag.InfoMessage
            </div>
            }

            if (@ViewBag.DangerMessage != null)
            {
            <div class="alert alert-danger">
                @ViewBag.DangerMessage
            </div>
            }
        }

        <form asp-action="AssignPatientToMachine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                @{
                    if ((ViewBag.MachineId as SelectList).Count() > 0)
                    {
                        <select name="machineId" class="form-control" asp-items="ViewBag.MachineId"><option value="" disabled selected>Select a machine</option></select>
                    }
                    else
                    {
                        <select name="machineId" class="form-control" asp-items="ViewBag.MachineId" disabled><option value="" disabled selected>There are no machine available</option> </select>

                    }
                }
            </div>

            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select name="patientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            </div>

            <div class="form-group">
                @{
                    if ((ViewBag.MachineId as SelectList).Count() > 0)
                    {
                        <input type="submit" value="Assign" class="btn btn-default" />
                    }
                    else
                    {
                        <input type="submit" disabled value="Assign" class="btn btn-default" />

                    }
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
