@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Old Care Project</h3>

<p style="font-size:large; font-family:Calibri">
    Old Care is an application that helps doctor in an infirmary to detect any
    medical issue that could happen with old people. It’s a machine attached with the
    body of the patient that continue to measure glucose level, blood pressure, number
    of heart hits etc.. , and sends immediately an alert to the responsible doctor who
    makes corresponding actions to help the patient.
    In case of emergency, the ship will send an alert to the computer in the doctor’s
    office, this notification will contain all patient’s medical information and also his
    geolocation to help medical team to arrive faster.
    After taking corresponding actions, a little report is written and added to the
    file of the patient so all his medical problems are detected by the doctor.
</p>
